p1{
    color:lightyellow
}
p2{
    background-color: whitesmoke;
    color:crimson;
    font-style: normal;
}
h1{
    color:darkorchid
}
h2{
    color:palevioletred;
    background-color: limegreen;
    font-style: italic;
}

